

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ==========HEADER========== */

header {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo span {
    color: #2E2F42;
}

.header-menu-item {
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-menu-item .header-link {
color: #2E2F42;
}

.header-menu-item .header-link:hover {
color: #404BBF;
}

.header-menu-item .header-link:focus {
color: #404BBF;
}

.header-menu-item #header-link:active {
    text-decoration: underline;
}

.header-address {
    font-style: normal;
}

.header-address-link {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover {
    color: #404BBF;
}

.header-address-link:focus {
    color: #404BBF;
}

/* ======================= */

/* =============BODY============= */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.body-head-section {
background-color: #2E2F42;
}

.body-head {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.body-button-head {
background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.body-button-head:hover {
    background-color: #404BBF;
}

.body-button-head:focus {
    background-color: #404BBF;
}


.body-info-head {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.body-info-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.body-team-section {
    background-color: #F4F4FD;
}

.body-team-head {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
}

.body-team-item {
    background-color: #FFFFFF;
}

.body-team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.body-team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.body-port-head {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
}

.body-port-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.body-port-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ======================== */

/* ================FOOTER================= */

.footer-comm {
    background-color: #2E2F42;
}

.footer-comm-link {
    font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.footer-comm-span {
    color: #F4F4FD;
}

.footer-comm-text {
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

/* ======================= */